<div id="__cookie-warning" style="position: fixed; padding: 15px 15px 0; bottom: 0; width: 100%; background-color: rgb(255, 255, 255); border-top: 1px solid rgb(0,89,83);">
  <div style="position:absolute; top: 50%; font-size: 1.2em; margin-top: -.6em;">
    <a href="#" style="display: none; text-decoration: none; color: black;">&#10006;</a>
  </div>
  <div style="margin-left: 40px;">
    <p>We use cookies to ensure this website's functionality. Our cookies are not used for identification. If you continue using this site, we assume that you agree to this.<br />To learn about controlling and deleting cookies, visit <a href="https://www.aboutcookies.org" target="_blank">www.aboutcookies.org</a>.</p>
  </div>
  <script type="application/javascript">
    var container = document.getElementById('__cookie-warning');
    var closeButton = container.querySelector('a[href="#"]');
    var dismissed = localStorage.getItem('__cookie-warning');

    if(dismissed) {
      // remove cookie warning if dismissed
      container.parentNode.removeChild(container);
    } else {
      // render remove button
      closeButton.style.display = 'inline-block';

      // remove warning and save setting on close button click
      closeButton.addEventListener('click', function(evt) {
        evt.preventDefault();
        container.parentNode.removeChild(container);
        localStorage.setItem('__cookie-warning', 'dismissed');
      });
    }
  </script>
</div>